<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous">
  <style>
    img {
      width: 100%;
    }
  </style>
  
</head>
<body background="background.jpg">
        <nav class="navbar navbar-light">
        <a href ="/" class="navbar-brand text-light ml-3">storeIt</a>
            <div>
                <%if(!currUser) { %>
                    <div>
                            <a class="mx-2 text-light" href="/login">Login</a>
                            <a class="mr-2 text-light" href="/register">Sign Up</a>
                    </div>
                    
                <% }else { %>
                <a class="mx-2 text-light" href="#">Signed in as <%=currUser.username%></a>
                <a class="mx-2 text-light" href="/logout">Logout</a>
                <%}%>
            </div> 
        </nav>